body {
  background-color: rgb(19, 19, 15);
  

}

header {
  text-align: center;
  color: rgb(231, 228, 228);
}

.choices {
    text-align: center;
    color: rgb(231, 228, 228);
}

h2 {
    padding: 50px;
}

.choice {
    font-size: 1.2em;
    border-radius: 3%;
    border: 30px;
    padding-left: 1em;
    padding-right: 1em;
    transition: 100ms;

}

.choice:hover {
    transform: scale(1.2);
   
}

p {
    font-size: 1.2em;
    border: 1em;
    padding: 0.7em;
}

.score  {
    color: rgb(231, 228, 228);
    text-align: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.result {
    color: rgb(231, 228, 228);
    text-align: left;
    font-size: 1.2em;
    position: fixed;
    top: 65%;
    left: 53%;
    transform: translate(-50%, -50%); 
}
.text-win {
    color: green;
    text-align: justify;
}

.text-lose {
    color: red;
    text-align: justify;
}

.text-draw {
    color: yellow;
    text-align: justify;
}
.restart {
    font-size: 1.1em;
    border-radius: 3%;
    border: 30px;
    padding-left: 1em;
    padding-right: 1em;
    transition: 100ms;
}
.restart:hover {
    transform: scale(1.1);
   
}